@model MoneyMe.Web.Models.Scaffolding.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">Username</div>
    <div class="display-field">@Model.Username</div>

    <div class="display-label">Accounts</div>
    <div class="display-field">@(Model.Accounts == null ? "None" : Model.Accounts.Count.ToString())</div>

    <div class="display-label">Family</div>
    <div class="display-field">@(Model.Family == null ? "None" : Model.Family.Name)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


