@model MoneyMe.Web.Models.Scaffolding.AggregateRoot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AggregateRoot</legend>

    <div class="display-label">Version</div>
    <div class="display-field">@Model.Version</div>

    <div class="display-label">AggregateRootEvents</div>
    <div class="display-field">@(Model.AggregateRootEvents == null ? "None" : Model.AggregateRootEvents.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


