@model MoneyMe.Web.Models.Scaffolding.AccountTransactionStatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AccountTransactionStatu</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">AccountTransactions</div>
    <div class="display-field">@(Model.AccountTransactions == null ? "None" : Model.AccountTransactions.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


