@model MoneyMe.Web.Models.Scaffolding.AccountTransactionCategory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AccountTransactionCategory</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">AccountTransactionAccountTransactionCategories</div>
    <div class="display-field">@(Model.AccountTransactionAccountTransactionCategories == null ? "None" : Model.AccountTransactionAccountTransactionCategories.Count.ToString())</div>

    <div class="display-label">AccountTransactionCategoryMatchPatterns</div>
    <div class="display-field">@(Model.AccountTransactionCategoryMatchPatterns == null ? "None" : Model.AccountTransactionCategoryMatchPatterns.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


