@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Quick Tasks</h2>
        <p>@Html.ActionLink("Record a New Transaction", "Create", "AccountTransaction")</p>
        <p>@Html.ActionLink("Create a New Category", "Create", "AccountTransactionCategories")</p>
    </div>
</div>