@using System.Collections
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Quick Tasks</h2>
        <p>@Html.ActionLink("Record a New Transaction", "Create", "AccountTransaction")</p>
        
    </div>
    <div class="col-md-4">
        <h2>Advanced Setup</h2>
        @foreach (var controllerName in (IEnumerable<string>)ViewBag.ControllerNames)
        {
            <p>@Html.ActionLink(controllerName, "Index", controllerName, new {Area = "Setup"}, new{})</p>
        }
        
    </div>
</div>