@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Quick Tasks</h2>
        <p><a class="btn btn-default" href="/AccountTransaction/Create">Record a New Transaction</a></p>
    </div>
</div>